{{#> app }}

{{#*inline "content"}}
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-2">
            <img src="/img/b1.png" width="250px" class="img-fluid rounded" alt="">
        </div>
        <div class="col-md-6 col-lg-4 mb-2">
            <img src="/img/b2.png" width="250px" class="img-fluid rounded" alt="">
        </div>
        <div class="col-md-6 col-lg-4 mb-2">
            <img src="/img/b3.png" width="250px" class="img-fluid rounded" alt="">
        </div>
    </div>
{{/inline}}

{{/app}}